@using Fabrica.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="Retail store for 3d props" content="">
    <meta name="Borislav Borisov" content="">

    <title>3dFabrica</title>

    <!-- Custom fonts for this theme -->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="https://dl.dropboxusercontent.com/s/w08h4dfknatay0r/freelancer.min.css?dl=0" rel="stylesheet">
    <link href="https://dl.dropboxusercontent.com/s/5a3bkopg1ezfi0j/style.css?dl=0 " rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="https://dl.dropboxusercontent.com/s/qzdqf284xzxuo43/favicon.png?dl=0">

    <!-- Libraries CSS Files -->
    <link href="https://dl.dropboxusercontent.com/s/din5n5w1mb1bx9s/animate.min.css?dl=0" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="https://dl.dropboxusercontent.com/s/5a3bkopg1ezfi0j/style.css?dl=0 " rel="stylesheet">
</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="js-scroll-trigger navbar-brand" href="#page-top"><img src="https://dl.dropboxusercontent.com/s/een9dlze2wrlgl5/3dfabrica_logo.png?dl=0" /></a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                @if (this.User.Identity.IsAuthenticated == false)
                {
                    <div class="container align-items-left">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-create py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Index">/Home</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-create py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="Identity" asp-page="/Account/Login">/Login</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-create py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="Identity" asp-page="/Account/Register">/Register</a>
                        </li>
                    </ul>
                }
                else
                {
                    <div class="container align-items-left">
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-create py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Index">/Home</a>
                            </li>

                            @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
                            {
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-create py-3 px-5 px-lg-3 rounded js-scroll-trigger" asp-controller="MarvProps" asp-action="CreateMarvelousProp">
                                        /Create
                                        MarvelousProp
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-create py-3 px-5 px-lg-3 rounded js-scroll-trigger" asp-controller="Props" asp-action="CreateProp">
                                        /Create
                                        3DProp
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <li class="mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-2 btn btn-outline-light btn-social mx-1" asp-controller="Users" asp-action="ShoppingBag">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger" asp-controller="Users" asp-action="Profile">[riffraff]</a>
                        </li>

                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm">
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-create py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="javascript:document.getElementById('logoutForm').submit()">/Logout</a>
                            </li>
                        </form>
                    </ul>
                }
            </div>
        </div>
    </nav>
    

    <main class="mt-3">
        @RenderBody();
    </main>

    <!-- Footer -->
    <footer class="footer text-center bg-secondary">
        <div class="container-fluid">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        1000 - Sofia
                        <br>84 - Alexander Stamboliiski blvrd.
                    </p>
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://facebook.com">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://instagram.com">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                </div>

                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About</h4>
                    <p class="lead mb-0">
                        Retail web store focused on 3D ARTISTS and companies specialized in virtualization
                        industry.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-1 text-center text-white">
        <div class="container-fluid">
            <small>Copyright &copy; 3dFABRICA.COM - 2019</small>
            <a class="js-scroll-trigger navbar-brand" href="#page-top"><img class="footerLogo" src="https://dl.dropboxusercontent.com/s/een9dlze2wrlgl5/3dfabrica_logo.png?dl=0" /></a>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- SCRIPTS-->
    <!-- Bootstrap core JavaScript -->
    <script src="https://dl.dropboxusercontent.com/s/s90p7wjc63yh9uq/jquery.min.js?dl=0" asp-append-version="true"></script>
    <script src="https://dl.dropboxusercontent.com/s/o5n47hw9rj25kov/bootstrap.bundle.min.js?dl=0" asp-append-version="true"></script>

    <!-- Plugin JavaScript -->
    <script src="https://dl.dropboxusercontent.com/s/n0ajtzyz8t3duit/jquery.easing.min.js?dl=0" asp-append-version="true"></script>

    <!-- Contact Form JavaScript -->
    <script src="https://dl.dropboxusercontent.com/s/98m2ksdihh582bq/jqBootstrapValidation.js?dl=0 " asp-append-version="true"></script>

    <!-- Custom scripts for this template -->
    <script src="https://dl.dropboxusercontent.com/s/jnrwfjboicmqev5/freelancer.min.js?dl=0" asp-append-version="true"></script>

    <!-- Template Main Javascript File -->
    <script src="https://dl.dropboxusercontent.com/s/z4z5zlsbxbbtp3q/main.js?dl=0" asp-append-version="true"></script>

    <!-- JavaScript Libraries -->
    <script src="https://dl.dropboxusercontent.com/s/63caqyc6vk3tx2o/wow.min.js?dl=0" asp-append-version="true"></script>

</body>
</html>
