@using Fabrica.Infrastructure
@using Fabrica.Models
@using Fabrica.Web.Models
@model AllUsersViewModel

@{
    var counter = 1;
    var users = (Task<List<FabricaUser>>)ViewData["AllUsers"];
}

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.User.Identity.IsAuthenticated)
{
    @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <header class="masthead bg-primary text-white text-center">

            <h1 class="masthead-heading text-uppercase text-center text-secondary">All users&ensp;:</h1>
            <br>
            <br>

            <div class="row" style="padding-left: 15px; margin-right: 0px;">

                <div class="col-md-12">
                    <table class="container">
                        <tr class="masthead-subheading bg-secondary text-uppercase text-md-center text-white">
                            <th>#</th>
                            <th>Username</th>
                            <th>Full name</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th></th>
                        </tr>

                        @foreach (var user in users.Result)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@user.UserName</td>
                                <td>@user.FullName</td>
                                <td>@user.Email</td>
                                <td class="text-info">OK</td>
                                <td>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            counter++;
                        }

                    </table>
                </div>

            </div>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </header>

    }
}