@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="masthead bg-primary text-white text-center" style="padding-top: 180px; padding-bottom: 20px">
    <p><h1></h1></p>

    <div class="container d-flex align-items-center flex-column">

        <img class="masthead-avatar mb-5" src="https://dl.dropboxusercontent.com/s/w0tz0f31nanjged/avtr.svg?dl=0" alt="">

        <h1 class="masthead-subheading text-uppercase mb-0">You've been disconnected. Bye bye!</h1>
        <br />
        <br />
        
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>