body {
    background-color: white;
    font-family: Calibri, serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.navbar img.logo {
    padding: 0px;
    padding-top: 1px;
    padding-right: 1px;
    width: 30%;
    height: auto;
}

.topnav a.right {
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #FEAE00;
    color: white;
}

.nav-item a.nav-create {
    display: block;
    padding: .5rem 1rem;
    padding-top: 50px;
    color: white;
}

.nav-item a.nav-create:hover {
    text-decoration: none;
    color: #73C2CD;
}

/*footer{*/
/*position: fixed;*/
/*left: 0;*/
/*bottom: 45px;*/
/*width: 100%;*/
/*}*/

div .prop-item {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    background-color: whitesmoke;
    /*background-color: #2c3e50;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: rgba(26,188,156,0.1);*/
    border-radius: 15px;
}

.props3d {

}

.propsMarvelous {

}

.no-underline {
    text-decoration: none !important;
}

.prop-item img.prop-user-thumb {
    width: 35px;
    height: auto;
}

.prop-item .prop-align-right-65 {
    margin-left: 65%;
}

.prop-item .prop-align-75right{
    margin-left: 75%;
}

.prop-item-align-15{
    padding-left: 15%
}

.prop-item .prop-icon-dist-5 {
    padding-right: 5px;
}

.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright img.footerLogo {
    width: 50%;
    height: auto;
}

textarea {
    min-height: 150px;
    max-height: 400px;
}

select option {
    background: rgb(44, 62, 80);
    color: #fff;
}

.col-container {
    display: table;
    width: 100%;
}

div .prop-img{
    width: 150px;
    height: 1px;
}

.col {
    display: table-cell;
    padding: 16px;
}

.column {
    float: left;
    width: 45%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

table {
    border: none !important;
    border-collapse: collapse;
    width: 100%;
}

tr, th, td {
    text-align: center;
    padding: 8px;
    border: none !important;
}

table tr {
    color: #73C2CD;
}

tr:nth-child(even) {
    height: 20px;
    background-color: #2c3e50;
}

tr:nth-child(odd) {
    background-color: #2c3e50;
}

table tr:hover td {
    color: #ddd;
    font-weight:bold;
    background-color: #73C2CD !important
}

/*main span.orangeBolt{*/
/*color: #FEAE00;*/
/*}*/

/*main h1{*/
/*font-size: 48px;*/
/*}*/

/*main h1.damnCenter{*/
/*text-align: center;*/
/*}*/

/*main table {*/
/*padding-top: 25px;*/
/*width: 100%;*/
/*border: 0px solid #FEAE00;*/
/*border-spacing: 0;*/
/*}*/

/*main th,td{*/
/*width: 25%;*/
/*padding: 15px;*/
/*text-align: left;*/
/*}*/

/*main td{*/
/*vertical-align: bottom;*/
/*}*/

/*main th{*/
/*padding-top: 30px;*/
/*padding-bottom: 30px;*/
/*font-size: 20px;*/
/*background-color: #FFAF00;*/
/*color: white;*/
/*}*/

/*main table img{*/
/*width: 100px;*/
/*height: auto;*/
/*}*/





